@model Capo.Models.Place

@{
    ViewBag.Title = "Map";
}

<div id="map" class="map-container"></div>

@section scripts {

    @Scripts.Render("~/Scripts/googleMap.js");
}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM__FNB2pogonBQjO-tg5ASdsOn3GiPZQ&callback=initMap" type="text/javascript"></script>
