@model Capo.Models.Pin

@{
    ViewBag.Title = "Map";
}

<div id="map"></div>
<br />
<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 550px;"></div>

<style>
    #map {
        width: 100%;
        height: 550px;
    }
</style>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

n<!-- Enclose the Javascript in a "section" so that it is rendered in the correct order after scripts have been loaded etc -->
@section scripts {

    @Scripts.Render("~/Scripts/googleMapsInitialize.js");
    @Scripts.Render("~/Scripts/googleMap.js");
    @Styles.Render("~/Content/scrollbarStyle.css")
}

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBM__FNB2pogonBQjO-tg5ASdsOn3GiPZQ&callback=initMap" type="text/javascript"></script>
